<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :employee_first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, id: :employee_middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :employee_last_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :employee_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :employee_gender %>
  </div>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number, id: :employee_contact_number %>
  </div>

  <div class="field">
    <%= form.label :personal_email %>
    <%= form.text_field :personal_email, id: :employee_personal_email %>
  </div>

  <div class="field">
    <%= form.label :work_email %>
    <%= form.text_field :work_email, id: :employee_work_email %>
  </div>

  <div class="field">
    <%= form.label :emergency_contact %>
    <%= form.text_field :emergency_contact, id: :employee_emergency_contact %>
  </div>

  <div class="field">
    <%= form.label :blood_group %>
    <%= form.text_field :blood_group, id: :employee_blood_group %>
  </div>

  <div class="field">
    <%= form.label :marital_status %>
    <%= form.text_field :marital_status, id: :employee_marital_status %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, id: :employee_nationality %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :employee_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :employee_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :employee_country %>
  </div>

  <div class="field">
    <%= form.label :permanent_address %>
    <%= form.text_field :permanent_address, id: :employee_permanent_address %>
  </div>

  <div class="field">
    <%= form.label :residential_address %>
    <%= form.text_field :residential_address, id: :employee_residential_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
