<%= form_with(model: education, local: true) do |form| %>
  <% if education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_name %>
    <%= form.text_field :course_name, id: :education_course_name %>
  </div>

  <div class="field">
    <%= form.label :institute_name %>
    <%= form.text_field :institute_name, id: :education_institute_name %>
  </div>

  <div class="field">
    <%= form.label :yesr_of_completion %>
    <%= form.text_field :yesr_of_completion, id: :education_yesr_of_completion %>
  </div>

  <div class="field">
    <%= form.label :field_of_study %>
    <%= form.text_field :field_of_study, id: :education_field_of_study %>
  </div>

  <div class="field">
    <%= form.label :more_info %>
    <%= form.text_field :more_info, id: :education_more_info %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, id: :education_employee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
